nav{
    background-color:goldenrod;
    font-size: 20px;
    line-height: 40px;
}
nav a{
    text-decoration:none;
    color: black;
    margin: 50px;
    padding: 5px;
    border-radius: 5px;
}
nav a:hover{
    background-color:grey;
}
